* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* UTILITIES */
.btn-grey {
  background-color: rgba(230, 230, 230, 0.6);
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: bold;
  color: #191c1f;
}

.btn-black {
  background-color: #191c1f;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: bold;
  color: #fff;
}
/* UTILITIES */


header {
  height: 90px;
  padding: 20px 50px;
  box-shadow: 0px 8px 16px rgba(25, 28, 31, 0.04);
  display: flex;
  justify-content: space-between;
}

.header-left, .header-right {
  display: flex;
  align-items: center;
}

.header-left a img {
  width: 20px;
  margin-right: 50px;
}

header ul {
  list-style: none;
}

header ul > li {
  display:inline-block;
  padding: 0 10px;
}

header ul > li > a {
  text-decoration: none;
}

.header-left ul > li > a, .header-right ul.menu > li > a {
  color: #DADBDB;
}

.header-left ul > li:first-child > a {
  font-weight: bold;
  color: #191c1f;
}

.header-left ul > li > a:hover, .header-right ul.menu > li > a:hover {
  color: #191c1f;
}

.header-right {
  position: relative;
}

.header-right .buttons {
  margin-left: 40px;
}

.header-right .buttons > li > a.btn-grey:hover {
  background-color: rgba(230, 230, 230, 0.8);
}

.header-right .buttons > li > a.btn-black:hover {
  background-color: rgba(25, 28, 31, 0.84);
}

header .dropdown-menus {
  position: absolute;
  top: 0;
  left: 0;
}

header .features-menu, header .plans-menu, header .about-menu, header .help-menu {
  background-color: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.04) , 0px 8px 16px 0px rgba(0, 0, 0, 0.08) ;
}

header .features-menu {
  width: 800px;
  height: 300px;
  position: absolute;
  left: -215px;
  top: 50px;
  display: none;
}

header .plans-menu {
  width: 160px;
  height: 240px;
  position: absolute;
  left: 80px;
  top: 50px;
  display: none;
}

header .about-menu {
  width: 180px;
  height: 480px;
  position: absolute;
  left: 145px;
  top: 50px;
  display: none;
}

header .help-menu {
  width: 160px;
  height: 240px;
  position: absolute;
  left: 235px;
  top: 50px;
  display: none;
}

header div.active {
  display: block;
}
