* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

/* UTILITIES */
.btn-grey {
  background-color: rgba(230, 230, 230, 0.6);
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: bold;
  color: #191c1f;
}

.btn-black {
  background-color: #191c1f;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: bold;
  color: #fff;
}

.pointer {
  pointer-events: none;
}
/* UTILITIES */


header {
  height: 90px;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
}

.header-left, .header-right {
  display: flex;
  align-items: center;
}

.header-left a img {
  width: 20px;
  margin-right: 50px;
}

header ul {
  list-style: none;
}

header .header-left ul > li, .header-right ul.menu > li, .header-right .buttons > li {
  display:inline-block;
  padding: 15px;
}

header ul > li > a {
  text-decoration: none;
}

.header-left ul > li > a, .header-right .nav ul > li > a, .header-right .hamburger a {
  color: #8b959e;
}

.header-left ul > li:first-child > a {
  font-weight: bold;
  color: #191c1f;
}

.header-left ul > li > a:hover, .header-right .nav ul > li > a:hover, .header-right .hamburger a:hover {
  color: #191c1f;
}

.header-right {
  position: relative;
}

.header-right .nav {
  margin-right: 20px;
}

/* DROPDOWN MENUS */
header .header-right .dropdown-menus {
  position: absolute;
  top: 0;
  left: 0;
}

.header-right .dropdown-menus > div {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.04) , 0px 8px 16px 0px rgba(0, 0, 0, 0.08) ;
}

.header-right .features-menu {
  width: 800px;
  position: absolute;
  left: -215px;
  top: 50px;
  display: none;
}

.header-right .plans-menu {
  width: 160px;
  position: absolute;
  left: 80px;
  top: 50px;
  display: none;
}

.header-right .about-menu {
  width: 180px;
  position: absolute;
  left: 145px;
  top: 50px;
  display: none;
}

.header-right .help-menu {
  width: 160px;
  position: absolute;
  left: 235px;
  top: 50px;
  display: none;
}

.header-right .dropdown-menus div.active {
  display: block;
}

.header-right .dropdown-menus [class*="col-"] {
  color: #DADBDB;
  padding: 15px;
}

.header-right .dropdown-menus ul > li {
  padding: 15px 0;
}

.header-right .dropdown-menus ul > li.pointer > a {
  color: rgba(25, 28, 31, 0.3);
}

.header-right .dropdown-menus ul > li.pointer {
  position: relative;
}

.header-right .dropdown-menus ul > li.pointer > span {
  color: #0666eb;
  font-size: 10px;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  top: 6px;
}

.header-right .dropdown-menus ul > li.pointer > span.rewards {
  right: 45px;
}

.header-right .dropdown-menus .cathegory {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.header-right .dropdown-menus .cathegory i {
  color: #fff;
  font-size: 12px;
  background-color: #ced5db;
  border-radius: 50%;
  padding: 6px;
  position: relative;
}

.header-right .dropdown-menus .cathegory h4 {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  margin-left: 5px;
}

/* BUTTONS ON RIGHT SIDE */
.header-right .buttons > li > a.btn-grey:hover, footer a.btn-grey:hover {
  background-color: rgba(230, 230, 230, 0.8);
}

.header-right .buttons > li > a.btn-black:hover, footer a.btn-black:hover {
  background-color: rgba(25, 28, 31, 0.84);
}
